:root {
    --my-background-color: darkgrey;
    --card-color: lightgrey;
    --link-text: black;
}

body {
    background-color: var(--my-background-color);
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

main {
    flex: 1;
}

.nav-link {
    text-decoration: none;
    color: var(--link-text);
    font-size: 1.2rem;
}

li .nav-link {
    display: block;
    margin: 20px 0;
}

nav {
    padding-bottom: 2rem;
}

h1 {
    margin: 2rem;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 40px;
}

.header-container {
    padding: 20px;
}

.circle-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.card-container {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.illustrator-card {
    background-color: var(--card-color);
    border-radius: 5%;
    padding: 20px
}

.single-card {
    background-color: var(--card-color);
    padding: 4rem;
    width: 50%;
}

.single-description {
    font-size: 1.2rem;
}


footer {
    padding: 10px;
}

